NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://localhost:27017/tmdb_movies
TMDB_API_KEY=6fe34b701274b651efedc7f618da1c19
API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2ZmUzNGI3MDEyNzRiNjUxZWZlZGM3ZjYxOGRhMWMxOSIsIm5iZiI6MTc1OTA2NDMxMS45NjQsInN1YiI6IjY4ZDkzMGY3ZTQ5NTUwNzlhYjUzMDUzZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.AncPLnPsFdG2HbDryHki154CqGsVjbRTzyI_6PwpOnM